{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">About Us</h1>
    <p class="lead">We are a team of passionate students at the University of North Carolina at Charlotte, committed to helping students find the perfect dorm experience.</p>
    <hr class="my-4">
    <p>Our mission is to provide a platform where students can share their experiences, rate and review dorms, and help future students make informed decisions.</p>
  </div>

  <h2 class="text-center">Meet the Team</h2>

  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/team-member1.jpg') }}" alt="Team Member 1">
        <div class="card-body text-center">
          <h4 class="card-title">Dhruv M</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam mauris vel ante dictum, non tristique neque tristique.</p>
          <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/team-member2.jpg') }}" alt="Team Member 2">
        <div class="card-body text-center">
          <h4 class="card-title">Manav M</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam mauris vel ante dictum, non tristique neque tristique.</p>
          <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/team-member3.jpg') }}" alt="Team Member 3">
        <div class="card-body text-center">
          <h4 class="card-title">Mohamoud M</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam mauris vel ante dictum, non tristique neque tristique.</p>
          <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/team-member4.jpg') }}" alt="Team Member 4">
        <div class="card-body text-center">
          <h4 class="card-title">Ayush L</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam mauris vel ante dictum, non tristique neque tristique.</p>
          <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <h2 class="text-center">Our Technology Stack</h2>
  <div class="row justify-content-center mb-5">
    <div class="col-md-10">
      <div class="row">
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <i class="fab fa-html5 fa-4x mb-3"></i>
              <h4 class="card-title">HTML5</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
    
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <i class="fab fa-css3-alt fa-4x mb-3"></i>
              <h4 class="card-title">CSS3</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
    
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <i class="fab fa-js-square fa-4x mb-3"></i>
              <h4 class="card-title">JavaScript</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
    
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <i class="fab fa-bootstrap fa-4x mb-3"></i>
              <h4 class="card-title">Bootstrap</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
    
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <i class="fab fa-python fa-4x mb-3"></i>
              <h4 class="card-title">Python</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
    
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <i class="fab fa-flask fa-4x mb-3"></i>
              <h4 class="card-title">Flask</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           
            </div>
          </div>
        </div>
  </div>
</div>
  </div>
  <h2 class="text-center">Our GitHub Stats</h2>
  <div class="row justify-content-center mb-5">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="fab fa-github fa-3x text-primary"></i>
                <div class="ms-3">
                  <h4 class="mb-0">GitHub Profile</h4>
                  <a href="#" class="btn btn-primary btn-sm mt-2">View Profile</a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fas fa-users fa-2x text-primary"></i>
                    <div class="ms-3">
                      <h5 class="mb-0">Followers</h5>
                      <p class="mb-0">XX</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fas fa-code-branch fa-2x text-primary"></i>
                    <div class="ms-3">
                      <h5 class="mb-0">Repositories</h5>
                      <p class="mb-0">XX</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fas fa-eye fa-2x text-primary"></i>
                    <div class="ms-3">
                      <h5 class="mb-0">Views</h5>
                      <p class="mb-0">XX</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fas fa-star fa-2x text-primary"></i>
                    <div class="ms-3">
                      <h5 class="mb-0">Stars</h5>
                      <p class="mb-0">XX</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}    